.elementor-309 .elementor-element.elementor-element-eb46084>.elementor-container {
    min-height: 100vh;
}

.elementor-309 .elementor-element.elementor-element-eb46084:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-eb46084>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/01/Ollie-wale.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-309 .elementor-element.elementor-element-eb46084>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #CC00FF00 50%, #181615 100%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-eb46084 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0rem 6.25rem 0rem 6.25rem;
}

.elementor-309 .elementor-element.elementor-element-f3dd83a .elementor-heading-title {
    color: var(--e-global-color-463eaf9);
    font-size: 4.7em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3.4px;
}

.elementor-309 .elementor-element.elementor-element-f3dd83a>.elementor-widget-container {
    margin: 0em 0em 4em 0em;
}

.elementor-309 .elementor-element.elementor-element-244e2c8 {
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 0rem 6.25rem 0rem 6.25rem;
}

.elementor-309 .elementor-element.elementor-element-ae68e8b .elementor-heading-title {
    color: #E7E6E2;
    font-size: 4em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-850cc5f {
    color: var(--e-global-color-463eaf9);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-5002dcf:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-5002dcf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #181615;
}

.elementor-309 .elementor-element.elementor-element-5002dcf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 10em 0em 0em 0em;
}

.elementor-309 .elementor-element.elementor-element-5002dcf>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-a3f29a3 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-a3f29a3 .elementor-heading-title {
    color: #f9E400;
    font-size: 15em;
    font-weight: 800;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-9e30f05:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-9e30f05>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-9e30f05,
.elementor-309 .elementor-element.elementor-element-9e30f05>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-9e30f05 {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-9e30f05:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-9e30f05>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-0b20a0a {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-1b15c7f {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-1b15c7f .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-b095a8a {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-cf12d14:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-cf12d14>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-cf12d14,
.elementor-309 .elementor-element.elementor-element-cf12d14>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-cf12d14 {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-cf12d14:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-cf12d14>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-bae541a {
    text-align: center;
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-611268f {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-611268f .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-55ff651 {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-330f2f0:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-330f2f0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-330f2f0,
.elementor-309 .elementor-element.elementor-element-330f2f0>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-330f2f0 {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-330f2f0:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-330f2f0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-c4b83f8 {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-f97c121 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-f97c121 .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-a24e61e {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-e9f1975:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-e9f1975>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #181615;
}

.elementor-309 .elementor-element.elementor-element-e9f1975 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 10em 0em 0em 0em;
}

.elementor-309 .elementor-element.elementor-element-e9f1975>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-ff5dde9 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-ff5dde9 .elementor-heading-title {
    color: #f9E400;
    font-size: 15em;
    font-weight: 800;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-e0f3d02:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-e0f3d02>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-e0f3d02,
.elementor-309 .elementor-element.elementor-element-e0f3d02>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-e0f3d02 {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-e0f3d02:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-e0f3d02>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-165871a {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-c07d257 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-c07d257 .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-1fb0668 {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-ddf7cf1:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-ddf7cf1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-ddf7cf1,
.elementor-309 .elementor-element.elementor-element-ddf7cf1>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-ddf7cf1 {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-ddf7cf1:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-ddf7cf1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-9709367 {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-d36a066 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-d36a066 .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-38feb8f {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-c43bd2e:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-c43bd2e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-c43bd2e,
.elementor-309 .elementor-element.elementor-element-c43bd2e>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-c43bd2e {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-c43bd2e:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-c43bd2e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-6fe2364 {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-f9596c3 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-f9596c3 .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-7c0e11d {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-84012fc:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-84012fc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #181615;
}

.elementor-309 .elementor-element.elementor-element-84012fc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 10em 0em 0em 0em;
}

.elementor-309 .elementor-element.elementor-element-84012fc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-ecd10a7 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-ecd10a7 .elementor-heading-title {
    color: #f9E400;
    font-size: 15em;
    font-weight: 800;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-476a3fe:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-476a3fe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-476a3fe,
.elementor-309 .elementor-element.elementor-element-476a3fe>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-476a3fe {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-476a3fe:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-476a3fe>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-368c34d {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-034dcfe {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-034dcfe .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-dfb9029 {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-37f1073:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-37f1073>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-37f1073,
.elementor-309 .elementor-element.elementor-element-37f1073>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-37f1073 {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-37f1073:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-37f1073>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-775e9b6 {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-d5f832f {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-d5f832f .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-56d6663 {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-116949b:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-116949b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-116949b,
.elementor-309 .elementor-element.elementor-element-116949b>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-116949b {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-116949b:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-116949b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-f42df09 {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-9da9b38 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-9da9b38 .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-7126763 {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-998606d:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-998606d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #181615;
}

.elementor-309 .elementor-element.elementor-element-998606d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 10em 0em 0em 0em;
}

.elementor-309 .elementor-element.elementor-element-998606d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-787acdf {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-787acdf .elementor-heading-title {
    color: #f9E400;
    font-size: 15em;
    font-weight: 800;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-500c580 {
    margin-top: 0em;
    margin-bottom: 0em;
}

.elementor-309 .elementor-element.elementor-element-66edbb5:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-66edbb5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-66edbb5,
.elementor-309 .elementor-element.elementor-element-66edbb5>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-66edbb5 {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-66edbb5:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-66edbb5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-4c0eb33 {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-44f9cf6 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-44f9cf6 .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-f1bf0a4 {
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-f123b9d:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-f123b9d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-f123b9d,
.elementor-309 .elementor-element.elementor-element-f123b9d>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-f123b9d {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-f123b9d:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-f123b9d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-831d054 {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-0c11045 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-0c11045 .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-cdb5942 {
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-add01c0:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-add01c0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-add01c0,
.elementor-309 .elementor-element.elementor-element-add01c0>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-add01c0 {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-add01c0:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-add01c0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-0a7ea0b {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-1d01e10 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-1d01e10 .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-810f875 {
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-3b0aa83:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-3b0aa83>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #181615;
}

.elementor-309 .elementor-element.elementor-element-3b0aa83 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 10em 0em 0em 0em;
}

.elementor-309 .elementor-element.elementor-element-3b0aa83>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-90e98f5 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-90e98f5 .elementor-heading-title {
    color: #f9E400;
    font-size: 15em;
    font-weight: 800;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-38deecd {
    margin-top: 0em;
    margin-bottom: 10em;
}

.elementor-309 .elementor-element.elementor-element-c8f9f66:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-c8f9f66>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
}

.elementor-309 .elementor-element.elementor-element-c8f9f66,
.elementor-309 .elementor-element.elementor-element-c8f9f66>.elementor-background-overlay {
    border-radius: 30px 30px 30px 30px;
}

.elementor-309 .elementor-element.elementor-element-c8f9f66 {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 2em 2em 2em;
}

.elementor-309 .elementor-element.elementor-element-c8f9f66:hover {
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-309 .elementor-element.elementor-element-c8f9f66>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-7720171 {
    text-align: center;
    color: var(--e-global-color-b439543);
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-568bdc2 {
    text-align: center;
}

.elementor-309 .elementor-element.elementor-element-568bdc2 .elementor-heading-title {
    color: var(--e-global-color-b439543);
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-309 .elementor-element.elementor-element-56a1eae {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.elementor-309 .elementor-element.elementor-element-eaa90a9>.elementor-container {
    min-height: 100vh;
}

.elementor-309 .elementor-element.elementor-element-eaa90a9:not(.elementor-motion-effects-element-type-background),
.elementor-309 .elementor-element.elementor-element-eaa90a9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/01/ollie-telegram.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-309 .elementor-element.elementor-element-eaa90a9>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(154deg, #02010100 9%, #181615C9 85%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-309 .elementor-element.elementor-element-eaa90a9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0em 06.25em 0em 6.25em;
}

.elementor-309 .elementor-element.elementor-element-4a878bd .elementor-heading-title {
    color: var(--e-global-color-463eaf9);
    font-size: 3.5em;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.3em;
}

.elementor-309 .elementor-element.elementor-element-4a878bd>.elementor-widget-container {
    margin: 0em 0em 3em 0em;
}

.elementor-309 .elementor-element.elementor-element-a7b6793 .elementor-button {
    font-size: 1.6em;
    font-weight: 800;
    text-transform: uppercase;
    fill: var(--e-global-color-463eaf9);
    color: var(--e-global-color-463eaf9);
    background-color: #CC00FF00;
    border-style: solid;
    border-width: 02px 2px 2px 2px;
    border-color: var(--e-global-color-71b4d63);
    border-radius: 100px 100px 100px 100px;
    padding: 20px 14px 14px 14px;
}

.elementor-309 .elementor-element.elementor-element-a7b6793 .elementor-button:hover,
.elementor-309 .elementor-element.elementor-element-a7b6793 .elementor-button:focus {
    color: var(--e-global-color-463eaf9);
    background-color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-309 .elementor-element.elementor-element-a7b6793 .elementor-button:hover svg,
.elementor-309 .elementor-element.elementor-element-a7b6793 .elementor-button:focus svg {
    fill: var(--e-global-color-463eaf9);
}

@media(max-width:1024px) {
    .elementor-309 .elementor-element.elementor-element-eb46084 {
        padding: 0rem 2rem 0rem 2rem;
    }

    .elementor-309 .elementor-element.elementor-element-f3dd83a .elementor-heading-title {
        font-size: 3.4em;
    }

    .elementor-309 .elementor-element.elementor-element-244e2c8 {
        margin-top: 010rem;
        margin-bottom: 2rem;
        padding: 0rem 2rem 0rem 2rem;
    }

    .elementor-309 .elementor-element.elementor-element-ae68e8b .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-a3f29a3 .elementor-heading-title {
        font-size: 7em;
    }

    .elementor-309 .elementor-element.elementor-element-1b15c7f .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-611268f .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-f97c121 .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-ff5dde9 .elementor-heading-title {
        font-size: 7em;
    }

    .elementor-309 .elementor-element.elementor-element-c07d257 .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-d36a066 .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-f9596c3 .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-ecd10a7 .elementor-heading-title {
        font-size: 7em;
    }

    .elementor-309 .elementor-element.elementor-element-034dcfe .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-d5f832f .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-9da9b38 .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-787acdf .elementor-heading-title {
        font-size: 7em;
    }

    .elementor-309 .elementor-element.elementor-element-44f9cf6 .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-0c11045 .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-1d01e10 .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-90e98f5 .elementor-heading-title {
        font-size: 7em;
    }

    .elementor-309 .elementor-element.elementor-element-568bdc2 .elementor-heading-title {
        font-size: 3em;
    }

    .elementor-309 .elementor-element.elementor-element-eaa90a9>.elementor-container {
        min-height: 60vh;
    }

    .elementor-309 .elementor-element.elementor-element-eaa90a9 {
        padding: 0em 1em 0em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-4a878bd .elementor-heading-title {
        font-size: 2em;
    }
}

@media(max-width:767px) {
    .elementor-309 .elementor-element.elementor-element-eb46084>.elementor-container {
        min-height: 90vh;
    }

    .elementor-309 .elementor-element.elementor-element-eb46084:not(.elementor-motion-effects-element-type-background),
    .elementor-309 .elementor-element.elementor-element-eb46084>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: -281px 0px;
    }

    .elementor-309 .elementor-element.elementor-element-eb46084 {
        padding: 0rem 1rem 0rem 1rem;
    }

    .elementor-309 .elementor-element.elementor-element-f3dd83a .elementor-heading-title {
        font-size: 2.1em;
    }

    .elementor-309 .elementor-element.elementor-element-f3dd83a>.elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }

    .elementor-309 .elementor-element.elementor-element-244e2c8 {
        margin-top: 6rem;
        margin-bottom: 0rem;
        padding: 0rem 1rem 0rem 1rem;
    }

    .elementor-309 .elementor-element.elementor-element-ae68e8b .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-850cc5f {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-5002dcf {
        padding: 3em 0em 0em 0em;
    }

    .elementor-309 .elementor-element.elementor-element-a3f29a3 .elementor-heading-title {
        font-size: 4.3em;
    }

    .elementor-309 .elementor-element.elementor-element-9e30f05 {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-0b20a0a {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-1b15c7f .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-b095a8a {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-cf12d14 {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-bae541a {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-611268f .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-55ff651 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-330f2f0 {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-c4b83f8 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-f97c121 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-a24e61e {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-e9f1975 {
        padding: 3em 0em 0em 0em;
    }

    .elementor-309 .elementor-element.elementor-element-ff5dde9 .elementor-heading-title {
        font-size: 4.3em;
    }

    .elementor-309 .elementor-element.elementor-element-e0f3d02 {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-165871a {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-c07d257 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-1fb0668 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-ddf7cf1 {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-9709367 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-d36a066 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-38feb8f {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-c43bd2e {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-6fe2364 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-f9596c3 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-7c0e11d {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-84012fc {
        padding: 3em 0em 0em 0em;
    }

    .elementor-309 .elementor-element.elementor-element-ecd10a7 .elementor-heading-title {
        font-size: 4.3em;
    }

    .elementor-309 .elementor-element.elementor-element-476a3fe {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-368c34d {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-034dcfe .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-dfb9029 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-37f1073 {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-775e9b6 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-d5f832f .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-56d6663 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-116949b {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-f42df09 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-9da9b38 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-7126763 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-998606d {
        padding: 3em 0em 0em 0em;
    }

    .elementor-309 .elementor-element.elementor-element-787acdf .elementor-heading-title {
        font-size: 4.3em;
    }

    .elementor-309 .elementor-element.elementor-element-66edbb5 {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-4c0eb33 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-44f9cf6 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-f1bf0a4 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-f123b9d {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-831d054 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-0c11045 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-cdb5942 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-add01c0 {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-0a7ea0b {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-1d01e10 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-810f875 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-3b0aa83 {
        padding: 3em 0em 0em 0em;
    }

    .elementor-309 .elementor-element.elementor-element-90e98f5 .elementor-heading-title {
        font-size: 4.3em;
    }

    .elementor-309 .elementor-element.elementor-element-c8f9f66 {
        padding: 1em 1em 1em 1em;
    }

    .elementor-309 .elementor-element.elementor-element-7720171 {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-568bdc2 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-56a1eae {
        font-size: 1em;
    }

    .elementor-309 .elementor-element.elementor-element-4a878bd {
        text-align: center;
    }

    .elementor-309 .elementor-element.elementor-element-4a878bd .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-309 .elementor-element.elementor-element-4a878bd>.elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }

    .elementor-309 .elementor-element.elementor-element-a7b6793 .elementor-button {
        font-size: 1.1em;
    }
}

@media(min-width:768px) {
    .elementor-309 .elementor-element.elementor-element-cdaeef3 {
        width: 55%;
    }

    .elementor-309 .elementor-element.elementor-element-fec1b38 {
        width: 45%;
    }

    .elementor-309 .elementor-element.elementor-element-d0a8c3b {
        width: 60%;
    }

    .elementor-309 .elementor-element.elementor-element-76ec0a6 {
        width: 40%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-309 .elementor-element.elementor-element-cdaeef3 {
        width: 70%;
    }

    .elementor-309 .elementor-element.elementor-element-fec1b38 {
        width: 30%;
    }

    .elementor-309 .elementor-element.elementor-element-d2c9ff2 {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-afc02fe {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-21443a3 {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-f9b2c2f {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-1fc0d50 {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-385201c {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-27c732a {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-df95f95 {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-73e87a3 {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-507d19a {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-9fb88fc {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-ece172b {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-679db74 {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-3fe3658 {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-9433b63 {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-77e9bdf {
        width: 100%;
    }

    .elementor-309 .elementor-element.elementor-element-d0a8c3b {
        width: 40%;
    }

    .elementor-309 .elementor-element.elementor-element-76ec0a6 {
        width: 60%;
    }
}